@import url('https://v1.fontapi.ir/css/Vazir');

body{
    font-family: 'Vazir', sans-serif;
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand img{
    width: 120px;
    display: block;
    margin: 20px auto 0;
}
.btn{
    border-radius: 15px;
}
.btn-primary{
    background-color: #D60644;
    border-color: #D60644;
}

.btn-primary:hover{
    background-color: white;
    color: #D60644;
    border-color: #D60644;
}


.btn-secendary{
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}

.btn-secendary:hover{
    color: white;
}

.offcode-container{
    text-align: center;
}

.offcode{
    margin: 20px 0;
    border-radius: 15px;
    border: 3px solid #D60644;
    padding: 5px 20px;
    display: inline-block;
    font-weight: bold;
}